/* You can add global styles to this file, and also import other style files */
@import "assets/layout/styles/layout/layout.css";

/* PrimeNG */
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.css";
@import "assets/demo/styles/code.css";

:root {
  --transition-duration: 0.2s;
}

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}

@media screen and (max-width: 575px) {
  .device-type::after {
    content: "xs";
    display: inline;
    background-color: #000;
    color: #fff;
    padding: 4px 4px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .device-type::after {
    content: "sm";
    display: inline;
    background-color: #000;
    color: #fff;
    padding: 4px 4px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .device-type::after {
    content: "md";
    display: inline;
    background-color: #000;
    color: #fff;
    padding: 4px 4px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .device-type::after {
    content: "lg";
    display: inline;
    background-color: #000;
    color: #fff;
    padding: 4px 4px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .device-type::after {
    content: "xl";
    display: inline;
    background-color: #000;
    color: #fff;
    padding: 4px 4px;
    margin-bottom: 4px;
  }
}
